{% extends 'radio/base.html' %}

{% block subtitle %}Поиск по жанру{% endblock %}

{% block content_header %}
<h1 class="content_header__heading">Поиск радиостанций по жанру</h1>
<p class="content_header__description">Слушайте радио онлайн в хорошем качестве, онлайн и без регистрации</p>
{% endblock %}

{% block content %}
<div class="ganre-list">
    {% for item in object_list %}
    <div class="ganre-list__item">
        <h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
    </div>
    {% endfor %}
</div>
{% endblock %}
