{% extends 'radio/base.html' %}

{% block extrastyle %}
{% load static %}
<link rel="stylesheet" href="{% static 'radio/css/player/style.css' %}">
{% endblock %}

{% block content %}

<div class="radio-station">
    <img src="{{ object.preview.url }}" width="175" height="175">

    <div class="radio-station__content">
        <small>
            <span>Оценка: {{ object.rating }}</span>
            <span><a href="#Feedbacks">Отзывы: {{ object.feedbacks.count }}</a></span>
        </small>
        <h2>{{ object.name }}</h2>
        <ul class="list">
            {% for item in object.ganre.all %}
            <li class="list-item ganre"><a href="{% url 'radio:ganre-detail' slug=item.slug %}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="RadioPlayer" class="player" data-stream="{{ object.stream_url }}"></div>
</div>

<div id="Feedbacks">
    <h3>Отзывы о "{{ object.name }}" <small>({{ object.feedbacks.all.count }})</small></h3>

    <button class="toggler" data-target="#NewFeedbackPopup" data-class-name="hidden">Оставить отзыв</button>

    <div id="NewFeedbackPopup" class="popup hidden">
        <div class="popup__content">
            <button class="toggler material-symbols-outlined" data-target="#NewFeedbackPopup" data-class-name="hidden">close</button>
            <form id="feedbackForm" method="post" action="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Отправить">
            </form>
        </div>
    </div>

    <div class="list">
        {% for item in object.feedbacks.all %}
        <div class="list-item feedback">
            <div>
                <h4>{{ item.username }}</h4>
                <small>Оценка: {{ item.rating }}</small>
            </div>
            <p>{{ item.message }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}