{% extends 'radio/base.html' %}

{% block content %}
<div>
    <h1>Онлайн радио</h1>
    <p>Слушайте радио онлайн в хорошем качестве, онлайн и без редистрации</p>
    <div class="list">
        {% for item in object_list %}
        <div class="list-item radio-station">

            {% load static %}
            <img src="{{ item.preview.url }}" width="75" height="75">

            <h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>

            <button id="AddFavoriteButton" class="material-symbols-outlined" data-id="{{ item.slug }}"s>favorite</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
